{% extends "base.html" %}

{% block container %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div id="map" class="map" tabindex="0"><div id="popup"></div></div>
    </div>
  </div>
</div>
{% endblock container %}

{% block extrascript %}
  <script>
var detail_baseurl = "{% url 'hotspot_detail' pk=0 %}";
var countryLayer = new ol.layer.Vector({
    title: 'added Layer',
    source: new ol.source.Vector({
        url: "{% url 'country_geojson' %}",
            format: new ol.format.GeoJSON({
                'defaultDataProjection': 'EPSG:4326'
            })
    })
})

var hotspotSource = new ol.source.Vector({
    url: "{% url 'hotspot_geojson' %}",
    format: new ol.format.GeoJSON({
        'defaultDataProjection': 'EPSG:4326'
    })
})

var hotspotLayer = new ol.layer.Vector({
    title: 'added Layer',
    source: hotspotSource
})

var clusterSource = new ol.source.Cluster({
    distance: 40,
  source: hotspotSource
});

var styleCache = {};
var hotspotClustersLayer = new ol.layer.Vector({
    source: clusterSource,
    style: function(feature, resolution) {
      console.log(feature);
        var size = feature.get('features').length;
        var style = styleCache[size];
        if (!style) {
            style = [new ol.style.Style({
                image: new ol.style.Circle({
                    radius: 12,
                    stroke: new ol.style.Stroke({
                        color: '#fff'
                    }),
                    fill: new ol.style.Fill({
                        color: 'rgb(255, 128, 0)'
                    })
                }),
                text: new ol.style.Text({
                    text: size.toString(),
                    fill: new ol.style.Fill({
                        color: '#000'
                    })
                })
            })];
            styleCache[size] = style;
        }
        return style;
    }
});

var map = new ol.Map({
    layers: [
        new ol.layer.Tile({
            source: new ol.source.OSM()
        }),
        countryLayer,
        // hotspotLayer
        hotspotClustersLayer
    ],
    target: 'map',
    controls: ol.control.defaults({
    attributionOptions: /** @type {olx.control.AttributionOptions} */ ({
      collapsible: false
    })
  }),
target: document.getElementById('map'),
  view: new ol.View({
    center: [0, 0],
    zoom: 2
  })
});

var element = document.getElementById('popup');

var popup = new ol.Overlay({
  element: element,
  positioning: 'bottom-center',
  stopEvent: false
});
map.addOverlay(popup);

// display popup on click
map.on('click', function(evt) {
    var feature = map.forEachFeatureAtPixel(evt.pixel,
                                            function(feature, layer) {
                                                return feature;
                                            }, null,
                                            function(layer) {
                                                return layer === hotspotClustersLayer;
                                            });
    if (feature) {
        console.log(feature);
        var hf = feature.get('features')[0] // hotspotFeature
        var detail_url = detail_baseurl.replace('0', hf.getId())

        var content = ["<dl>",
                   "<dt>ACQ DATE</dt>", "<dd>" + hf.get('acq_date') + "</dd>",
                   "<dt>ACQ TIME</dt>", "<dd>" + hf.get('acq_time') + "</dd>",
                   "<dt>SATELLITE</dt>", "<dd>" + hf.get('satellite') + "</dd>",
                   "<dt>SCAN</dt>", "<dd>" + hf.get('scan') + "</dd>",
                   "<dt>TRAC</dt>", "<dd>" + hf.get('trac') + "</dd>",
                   "</dl>",
                   "<hr/>",
                   "<p><a href='" + detail_url + "'>Hotspot details</a>"
        ]
        popup.setPosition(evt.coordinate);
        $(element).popover({
            'title': 'Hotspot',
            'placement': 'top',
            'html': true,
            // 'content': "<ul>"hotspotFeature.get('acq_date')
            'content': content
        });
        $(element).popover('show');
    } else {
        $(element).popover('destroy');
    }
});

// change mouse cursor when over marker
map.on('pointermove', function(e) {
  if (e.dragging) {
    $(element).popover('destroy');
    return;
  }
  var pixel = map.getEventPixel(e.originalEvent);
  var hit = map.hasFeatureAtPixel(pixel);
  map.getTarget().style.cursor = hit ? 'pointer' : '';
});

</script>
{% endblock extrascript %}
