{% extends "base.html" %}
{% block extrahead %}
<style>
  #map {
    height: 400px;
    margin-top: 20px;
    margin-bottom: 40px;
  }
</style>
{% endblock extrahead %}

{% block container %}
<div class="container-fluid">
  <h1>Hotspot <small>{{ object.pk }}</small></h1>
  <div class="row">
    <div class="col-md-6">
      <div id="map" class="map" tabindex="0"><div id="popup"></div></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <dl>
        <dt>ACQ DATE</dt>
          <dd>{{ object.acq_date }}</dd>
        <dt>ACQ TIME</dt>
        <dd>{{ object.acq_time }}</dd>
        <dt>SATELLITE</dt>
        <dd>{{ object.satellite }}</dd>
        <dt>SCAN</dt>
        <dd>{{ object.scan }}</dd>
        <dt>TRAC</dt>
        <dd>{{ object.trac }}</dd>
      </dl>
    </div>
  </div>
</div>
{% endblock container %}

{% block extrascript %}
  <script>
    var point = new ol.geom.Point([{{ object.geom.x }}, {{ object.geom.y }}]).transform('EPSG:4326', 'EPSG:3857');
    var iconFeature = new ol.Feature({geometry: point});
    var iconStyle = new ol.style.Style({
        image: new ol.style.Circle({
            radius: 10,
            fill: new ol.style.Fill({
                color: 'rgba(255, 128, 0, 0.6)'
            }),
            stroke: new ol.style.Stroke({
                color: 'rgba(255, 0, 0, 1)',
                width: 2
            })
        })
    });
    iconFeature.setStyle(iconStyle);

    var vectorSource = new ol.source.Vector({
        features: [iconFeature]
    });
    var vectorLayer = new ol.layer.Vector({
      source: vectorSource
    });


    var map = new ol.Map({
        layers: [
            new ol.layer.Tile({
                source: new ol.source.OSM()
            }),
            vectorLayer
        ],
        target: document.getElementById('map'),
        view: new ol.View({
            center: point.getFirstCoordinate(),
            zoom: 12
        })

    });
</script>
{% endblock extrascript %}
